{% extends "header.html" %}



{% block content %}



	<div class="row">
	    <div class="col-md-8 col-md-offset-2">
	    	<h3>Potential Leakage</h3>
	    </div>
	</div>

    <div class="container">
        <div class="row">
            
            
            <div class="col-md-12">
            
            
			{% for leakdic in leakage %}
            <div class="table-responsive">        
				<table id="mytable" class="table table-bordred table-striped">
                       
                    <thead>
                        <th>Consommation</th>
                        <th>Heure</th>
                        <th>Jour</th>
                    </thead>
                    <tbody>
						{% for leak in leakdic %}
						<tr>
							{% for k,v in leak.items() %}
							<td>{{ v }}</td>
							{% endfor %}

						</tr>
						{% endfor %}
                    
                    </tbody>
                            
                </table>
            </div>
            {% endfor %}
        </div>
	</div>


	<div class="row">
	    <div class="col-md-8 col-md-offset-2">
	    	<h4>Potential leakages have been saved under : {{ jsonUrl }} </h4>
	    </div>
	</div>

{% endblock %}